---
import Layout from '../layouts/Layout.astro';
const pages = await Astro.glob('./**/*');
const books = new Set;
const articles = new Map;
for (let { file, url } of pages) {
	// parse the book and the article
	const match = /pages\/(.*)\/(.*)\.astro$/.exec(file)
	// add to sets
	if (match) {
		const [_, book, article] = match;
		books.add(book);
		articles.set(book, [[...articles.get(book) ?? []], { article, url }]);
	}
}
---

<Layout>
	{Array.from(books).map(book => (<>
		<h2>{book}</h2>
		<ol>
			{Array.from(articles.get(book)).map(({ article, url }) => (
				<a href={url}>{article}</a>
			))}
		</ol>
	</>))}
</Layout>
